.container {
  display: grid;
  grid-template-columns: 320 320px 320px;
  grid-template-rows: 439px 290px;
  grid-gap: 32px;
  margin-top: 100px;
  justify-content: center;
}

.span {
  grid-column: span 3;
}
